! special
*foreground:   #eeffff
*background:   #050b10
*cursorColor:  #eeffff

! black
*color0:       #050b10
*color8:       #222d32

! red
*color1:       #f07178
*color9:       #f07178

! green
*color2:       #c3e88d
*color10:      #c3e88d

! yellow
*color3:       #ffcb6b
*color11:      #ffcb6b

! blue
*color4:       #82aaff
*color12:      #82aaff

! magenta
*color5:       #c792ea
*color13:      #c792ea

! cyan
*color6:       #89ddff
*color14:      #89ddff

! white
*color7:       #eeffff
*color15:      #ffffff

#define MONOFONT DejaVu Sans Mono Nerd Font

! BEGIN laptop
!Xft.dpi: 120
! END laptop

! BEGIN desktop
!Xft.dpi: 82
! END desktop

URxvt*font: xft:MONOFONT:size=14
URxvt*internalBorder: 15
URxvt*scrollBar: False
URxvt*depth: 32

Xcursor.theme: Breeze_Snow

rofi*terminal: st
rofi*lines: 5
rofi*display-drun: Launch
rofi*matching: fuzzy
rofi*padding: 20
rofi*width: 25
rofi*color-enabled: true
! Property Name     BG             Border         Separator
rofi*color-window:  argb:C0050b10, argb:C0050b10, argb:C0050b10
! Property Name     BG             FG       BG-alt         Head-BG  Head-FG
rofi*color-normal:  argb:00000000, #eeffff, argb:00000000, #89ddff, #222d32
rofi*color-active:  argb:00000000, #eeffff, argb:00000000, #89ddff, #222d32
rofi*color-urgent:  argb:00000000, #eeffff, argb:00000000, #89ddff, #222d32
! Set the desired separator style
rofi*separator-style: solid
rofi*hide-scrollbar: true
rofi*font: MONOFONT 16
