! special
*foreground:   #bbc2cf
*background:   #282c34
*cursorColor:  #bbc2cf

! black
*color0:       #282c34
*color8:       #3f444a

! red
*color1:       #ff6c6b
*color9:       #ff6c6b

! green
*color2:       #98be65
*color10:      #98be65

! yellow
*color3:       #ecbe7b
*color11:      #ecbe7b

! blue
*color4:       #51afef
*color12:      #51afef

! magenta
*color5:       #c678dd
*color13:      #c678dd

! cyan
*color6:       #46d9ff
*color14:      #46d9ff

! white
*color7:       #bbc2cf
*color15:      #dfdfdf

#define MONOFONT Fira Code

*font: xft:MONOFONT:pixelsize=14

Emacs*font: MONOFONT

Xcursor.theme: Breeze_Snow

rofi*terminal: st
rofi*lines: 5
rofi*display-drun: Launch
rofi*location: 2
rofi*padding: 0
rofi*matching: fuzzy
rofi*width: 100
rofi*color-enabled: true
! Property Name     BG       Border   Separator
rofi*color-window:  #282c34, #282c34, #282c34
! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi*color-normal:  #282c34, #bbc2cf, #282c34, #51afef, #282c34
rofi*color-active:  #282c34, #bbc2cf, #282c34, #51afef, #282c34
rofi*color-urgent:  #282c34, #bbc2cf, #282c34, #51afef, #282c34
! Set the desired separator style
rofi*separator-style: solid
rofi*hide-scrollbar: true
rofi*font: MONOFONT 14px
